################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Driving school login form/bin/Debug
/.vs
/Driving school login form/.vs/Driving school login form
