################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Driving school login form/bin/Debug
/.vs
/DrivingSchoolSystem/.vs
